body {
  line-height: 1.4;
  background-color: #A27B5C;
  width: 500px;
  margin: auto;
}

form {
  background: #DCD7C9;
  padding: 2.5rem 2.5rem;
  border-radius: 2rem;
  width: 500px;
  margin: auto;
}

header {
  text-align: center;
}

#description {
  text-align: center;
}

.inputs {
  display: block;
  width: 90%;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  background-color: #fff;
  border: 1px solid #DCD7C9;
  border-radius: 0.25rem;
}

.inputLabel {
  display: block;
  width: 90%;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  background-color: #A27B5C;
  border: 1px solid #DCD7C9;
  border-radius: 0.25rem;
}
